<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="60" >
<title>London Geochronology Centre - Helium Line - Pump and Pyrometer Reader</title>
<link href="{{ url_for('static',filename='css/text.css') }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	  <section class="banner">
		  <div >
               <P class="logo">London Geochronology Centre - Pump and Pyrometer Reader Server Status &nbsp CPU {{cputemperature}}&deg;C</P>
              <p class="breadcrumbtext"><a href = "/" class="breadcrumblink">Return to index</a> &nbsp|&nbsp
              <a href = "/pylog" class="breadcrumblink">Application Log</a> &nbsp|&nbsp
              <a href = "/guaccesslog" class="breadcrumblink">Website Access Log</a> &nbsp|&nbsp
              <a href = "/guerrorlog" class="breadcrumblink">Website Error Log</a> &nbsp|&nbsp
              <a href = "/syslog" class="breadcrumblink">System Log</a></p><br>
          </div>
  </section>
<section class="container2">
    <p class="sectiontext">Readings</p>
        <table>
            <thead>
                <td class="tabledataleft"><B>Sensor</B></td>
                <td class="tabledataleft"><B>Status</B></td>
            </thead>
            <tr>
                    <td class="tabledataleft">Turbo Pump Pressure ({{pressures['turbounits']}})</td>
                    <td class="tabledataleft">{{pressures['turbo']}}</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Tank Pressure ({{pressures['tankunits']}})</td>
                    <td class="tabledataleft">{{pressures['tank']}}</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Ion Pump Pressure ({{pressures['ionunits']}})</td>
                    <td class="tabledataleft">{{pressures['ion']}}</td>
            </tr>
            <tr>
                    <td class="tabledataleft">N2 gas Pressure ({{pressures['gasunits']}})</td>
                    <td class="tabledataleft">{{pressures['gas']}}</td>
            </tr>
      </table>
    <p>&nbsp</p>
	</section>
  <section class="banner">
 <div class ="copyright"><strong>Software Version</strong> {{version}}<br>&copy;2024 - <strong>London Geochronology Centre</strong></div>
	  </section>
</body>
</html>
